/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background:#efefef;
  font-family: 'Questrial', sans-serif;
}

h1{
  font-size: 3rem;
}

.logo{padding: 0px 10px 10px 10px;}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* NAVBAR TOP */
.navbar-wrapper{
  position: relative;
  z-index: 15;
  background: #373737;
  border-color: #373737;  
}
.navbar {
  min-height: 80px;
  margin-bottom: 0;
}

.navbar-nav > li > a {  
  padding: 50px 35px 50px 35px;
  text-transform: uppercase;
  font-weight: bold;    
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  border-bottom: inset 10px #428bca;  
  background: #3e3e3e;
}

.navbar-inverse {
  background: #373737;
  border-color: #373737;
}

.navbar-inverse .navbar-brand {
  color: #fbfbfb;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 6rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  padding: 30px 15px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */  
  margin-bottom: 40px;  

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;  
  background: #428bca;
  position: absolute;  
  right: 0%;
  left: 0%;
  bottom: 0px;
}

.carousel-inner .item{
  padding-bottom: 150px;
}

.adornocarousel{ 
  background: transparent url("../img/dialog2.png") bottom right no-repeat;  
  display: block;
  height: 49px;
  width: 107px;  
  position: relative;
  top:-40px;
  float: right;
 }



/* SLIDES */
.slide{
  /*
  height: 500px; 
  display: block;
  */
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;  
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.marketing h2 {
  font-weight: normal;

}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.marketing ul{
  padding-left: 0;
}

.marketing li{
  list-style: none;

}

.imgthumb{
  width: 140px; 
  height: 140px;  
}
.featurette-image{
background: url("../img/dialog.png") right no-repeat;
padding-bottom: 100px;   
}


.flipimage{  
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";  
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
  background: url("../img/generate_stripes.png");
  padding: 10px;
  border:none;
  opacity: 0.5;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

hr.blackstripe{
  background: url("../img/gray_black_stripes.png");
  padding: 10px; 
  border: none;
  opacity: 0.5;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */

  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
   /* margin-top: 20px;*/
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {    
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;   

  }

  .featurette-heading {
    font-size: 50px;
  }


}


/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .carousel-caption { left:0%; right:0%;}
  .adornocarousel{right:0px;}
  
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .carousel-caption { left:0%; right:0%;}
  .adornocarousel{right:0px;}
  .carousel-indicators{display: none;}
  
   }
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .carousel-caption { left:0%; right:0%;}
  .adornocarousel{right:0px;}
  .carousel-indicators{display: none;}
  .navbar-inverse .navbar-brand { font-size: 3.8rem;}
   }
